.chat-item {
  border-top: 1px solid #a6b4c2;
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.chat-item_active::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 5px;
  height: calc(100% - 8px);
  background: #27496d;
  top: 4px;
  right: -10px;
}

.chat-item__icon {
  width: 47px;
  height: 47px;
  min-width: 48px;
  border-radius: 50%;
  background: #efefef;
  margin-right: 10px;
}

.chat-item__data {
  width: 100%;
}

.chat-item__name {
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: #27496d;
  margin-bottom: 4px;
}

.chat-item__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #889baf;
}

.chat-item__notifications {
  text-align: right;
  height: 100%;
  min-height: 41px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: end;
}

.chat-item__time {
  font-size: 9px;
  line-height: 13px;
  color: #999;
  white-space: nowrap;
}

.chat-item__new {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #27496d;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #ffe6ea;
  align-self: flex-end;
}
