div.chat-item.chat-item_active
	div.chat-item__icon.user-img
	div.chat-item__data
		div.chat-item__name #{username}
		div.chat-item__text #{quote}
	div.chat-item__notifications
		div.chat-item__time #{time}
		div.chat-item__new #{count}