.search {
	position: relative;
	&__icon {
		width: 20px;
		height: 20px;
		background: url('../../../static/images/search.svg') no-repeat center;
		position: absolute;
		left: 10px;
		top: 6px;
	}
	&__input {
		width: 100%;
		max-width: 290px;
		padding: 10px 6px 10px 34px;
		box-sizing: border-box;
		border-radius: 5px;
		border: none;
		background: #e8ebef;
		color: #27496D;
		font-size: 12px;
		line-height: 12px;
		box-sizing: border-box;
	}
}