doctype html
html(lang="" class="layout_100")
	head
		link(rel="stylesheet", href="../static/index.css")
		link(rel="stylesheet", href="../src/pages/error/error.css")
	

	body.layout_100.layout_flex-column
		div.error.layout_100
			div.error__card
				h1.error__title 404
				p.error__text Не туда попали
				a.error__back(href="/") Назад к чатам


