doctype html
html(lang="" class="layout_100")
	head
		link(rel="stylesheet", href="/public/static/index.css")
		link(rel="stylesheet", href="/public/src/pages/auth/auth.css")
		link(rel="stylesheet", href="/public/src/components/input/input.css")
		link(rel="stylesheet", href="/public/src/components/button/button.css")

	body.layout_100.layout_flex-column
		div.auth.layout_100
			div.auth__card.auth__card_login
				h1.auth__title Вход
				form.auth__form 
					div
						each field in [{label:"Логин", type:"text", name:"login"}, {label:"Пароль", type: "password", name: "password"}]
							input.input(
								type=field.type
								name=field.name
								placeholder=field.label
							)
					div
						button.button.auth__button Авторизоваться
						a.auth__link(href="./registration.pug") Нет аккаунта?


