.chats-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chats-list {
  background: #fbfbfb;
  width: 100%;
  max-width: 310px;
  height: 100vh;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chats-list__items {
  padding: 14px 0 0 0;
}

.chats-list__edit {
  text-align: right;
  margin-bottom: 6px;
}

.chat {
  background: #fff;
  width: 100%;
}

.chat_empty {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #27496d;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chat_empty p {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chat__header {
  background: #c5e2f0;
  padding: 10px 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chat__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.chat__messages {
  -webkit-box-flex: 11;
  -ms-flex: 11;
  flex: 11;
  padding: 48px 20px 0;
}

.chat__new-messge > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 11px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chat__new-messge > span:first-of-type {
  width: 100%;
  max-width: 850px;
}

.chat__new-messge::before {
  content: "";
  display: inline-block;
  width: calc(100% - 40px);
  height: 1px;
  background: #a6b4c2;
  position: absolute;
  top: 0;
  left: 20px;
}

.chat .attach {
  width: 32px;
  height: 32px;
  background: url(../../../public/static/images/attach.svg) no-repeat center;
  border: none;
}

.chat .chat__input {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
  border-radius: 30px;
  border: none;
  background: #e8ebef;
  font-size: 12px;
  line-height: 15px;
  color: #27496d;
  padding-left: 20px;
  padding-right: 20px;
  margin: 2px 0;
}

.chat .chat__input:placeholder {
  color: #27496d;
}

.chat__input-wpap {
  width: 100%;
  max-width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.chat .messages__date {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin-bottom: 30px;
}

.chat .messages__row {
  text-align: right;
}

.chat .message {
  padding: 11px;
  font-size: 12px;
  line-height: 15px;
  color: #27496d;
  display: inline-block;
  min-width: 114px;
  max-width: 402px;
  background: #c5e2f0;
  border-radius: 10px 10px 0 10px;
}

.chat .message__time {
  color: #889baf;
  font-size: 9px;
  line-height: 9px;
  text-align: right;
}

.chat .message_response {
  background: #f8f8f8;
  border-radius: 0 10px 10px 10px;
}

.chat .message_response .message__time {
  opacity: 0.5;
}

.chat .message__text {
  text-align: left;
}

.chat .dropdown__toggle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  color: #ffe6ea;
  background: #27496d url("../../../public/static/images/dropdown-icon.svg") no-repeat center;
}
