@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap");

.profile {
  background: #b6e1f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile__inner {
  max-width: 570px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.profile__card {
  width: 100%;
  max-width: 510px;
  padding: 30px;
  background: #fff;

  /* width: 100%;
  max-width: 570px; */
  text-align: center;
}

.profile__header {
  width: 100%;
  max-width: 1280px;
  position: absolute;
  top: 0;
  display: inline-block;
  padding: 20px;
}

.profile__links {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 21px;
  text-align: right;
}

.profile__close {
  display: none;
  text-align: right;
}

.profile__links_hidden {
  display: none;
}

.profile .profile__link {
  display: inline-block;
  padding: 0 10px;
}

.profile__top {
  text-align: center;
  margin-bottom: 30px;
}

.profile__avatar {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #ffe6ea url("../../../public/static/images/avatar_icon.svg") no-repeat center;
  margin-bottom: 21px;
  overflow: hidden;
  cursor: pointer;
}

.profile__avatar > div {
  height: 100%;
}

.profile__avatar > div:hover::before {
  content: 'Поменять аватар';
  color: #ffe6ea;
  background: #27496d;
  opacity: 0.4;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile__name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #27496d;
}

.profile__submit_hidden {
  display: none;
}

.avatar {
  width: 100%;
  height: auto;
}
