.nav-btn {
	display: inline-block;
	width: 34px;
	height: 34px;
	border-radius: 17px;
	cursor: pointer;
	&__back {
		background: #27496D url("../../../static/images/arrow_back_icon.svg") no-repeat center;
	}
	&__exit {
		background: #27496D url('../../../static/images/exit_icon.svg') no-repeat center;
		background-size: 24px;
	}
	&__edit {
		background: #27496D url('../../../static/images/edit_icon.svg') no-repeat center;
	}
	&__password {
		background: #27496D url('../../../static/images/password_icon.svg') no-repeat center;
	}
}
