doctype html
html(lang="" class="layout_100")
	head
		link(rel="stylesheet", href="./static/index.css")
		link(rel="stylesheet", href="./src/pages/error/error.css")
	body.layout_100.layout_flex-column
		block content