.nav-btn {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  cursor: pointer;
}
.nav-btn__back {
  background: #27496D url("../../../static/images/arrow_back_icon.svg") no-repeat center;
}
.nav-btn__exit {
  background: #27496D url("../../../static/images/exit_icon.svg") no-repeat center;
  background-size: 24px;
}
.nav-btn__edit {
  background: #27496D url("../../../static/images/edit_icon.svg") no-repeat center;
}
.nav-btn__password {
  background: #27496D url("../../../static/images/password_icon.svg") no-repeat center;
}