div.modal(class=(isVisible  && 'modal_show'))
	div.modal__content
		div.modal__close !{close}
		h3.modal__title Загрузите файл
		div !{input}
		p.modal__status
		div
			label.modal__link(for="avatar") Выбрать файл на компьютере
		div !{button}
		p.modal__notice(class=(isError  && 'modal__notice_show')) Нужно выбрать файл
	div.modal__fade